.vscode/settings.json
docs/__pycache__/hooks.cpython*
overrides/partials/__pycache__/hooks.*
docs/assets/__pycache__/hooks.*
__pycache__/**
**/__pycache__/**
**/lib/**
.cache
venv*
node_modules
example.html
.idea
docs/assets/js/dev.js
.ruff_cache
__pycache__
site
.venv
_static
*.test.md
*.tests.md
