[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-obsidian-links = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-embed-file-plugins = "*"
mkdocs-custom-fences = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-encryptcontent-plugin = "*"
mkdocs-callouts = "*"
mkdocs-custom-tags-attributes = "*"
mkdocs-meta-descriptions-plugin = "*"
cairosvg = "*"
pillow = "*"
mkdocs-glightbox = "*"
mkdocs-minify-plugin = "*"
mdx-breakless-lists = "*"

[dev-packages]

[scripts]
dev = "mkdocs serve"
deploy = "mkdocs gh-deploy --force"

[requires]
python_version = "3.13"
