.comments {
  display: none;
}

#left {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-weight: normal;
}

#u {
  text-align: center;
  display: block;
}

#tags {
  background-color: rgba(142, 137, 137, 0.38);
  border-radius: 5px;
}

.hash::before {
  content: "#";
}

[data-md-color-scheme="default"] .hash {
  color: #5f5f60;
  border-radius: 5px;
  background-color: #bfbcbca2;
  padding-left: 5px;
  padding-right: 5px;
}

[data-md-color-scheme="slate"] .hash {
  color: #e2e2e29a;
  border-radius: 5px;
  background-color: #6b6b6b1d;
  padding-left: 5px;
  padding-right: 5px;
}

.admonition.borderwiki {
  float: left;
  margin-right: 0.8rem;
  margin-top: 0;
  width: 11.7rem;
}

.admonition.Lwiki {
  float: right;
  margin-right: 0.8rem;
  margin-top: 0;
  width: 11.7rem;
}

div {
    scrollbar-width: none;
}

.admonition.infobox table thead {
  display: none;
}

.admonition.infobox:has(table) {
  margin-top: 0;
  box-shadow: none !important;
}

.admonition.infobox {
    width: fit-content;
}

.admonition.wiki .md-typeset__scrollwrap {
    margin: 0;
}

.admonition.wiki .md-typeset__table {
    margin: 0;
    padding: 0;
}

.admonition.infobox,
.admonition.wiki {
    margin: 0 1em;
}

.md-typeset .headerlink {
    display: block;
}