:root {
    --md-admonition-icon--dictionnary: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 22a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-6v7L9.5 7.5 7 9V2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12z"/></svg>');
    --md-admonition-icon--grid: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M352 432c0 8.836-7.164 16-16 16H176c-8.838 0-16-7.164-16-16V128H48c-26.51 0-48 21.5-48 48v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48v-80H352v48zm-248 7c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30zm0-104c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30zm0-104c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-5 4.03-9 9-9h30c4.969 0 9 4.031 9 9v30zm304 178c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30c0 4.969-4.031 9-9 9h-30c-4.969 0-9-4.031-9-9v-30zM591.1 0h-352c-25.6 0-48 21.49-48 48v256c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V48c.9-26.51-20.6-48-48-48zm-288 64c17.68 0 32 14.33 32 32s-14.32 32-32 32c-16.8 0-32-14.3-32-32s15.2-32 32-32zm271 215.6c-2.8 5.2-8.2 8.4-14.1 8.4H271.1c-6 0-10.6-3.4-13.4-8.7-2.7-5.4-2.2-11.9 1.4-16.7l70-96c3-4.2 7.8-6.6 12-6.6 5.11 0 9.914 2.441 12.93 6.574l22.35 30.66 62.74-94.11C442.1 98.67 447.1 96 453.3 96c5.348 0 10.34 2.672 13.31 7.125l106.7 160c3.29 4.875 3.59 11.175.79 16.475z"/></svg>');
    --md-admonition-icon--project: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M7 40Q5.8 40 4.9 39.1Q4 38.2 4 37V11Q4 9.8 4.9 8.9Q5.8 8 7 8H41Q42.2 8 43.1 8.9Q44 9.8 44 11V37Q44 38.2 43.1 39.1Q42.2 40 41 40ZM7 37H41Q41 37 41 37Q41 37 41 37V15.2H7V37Q7 37 7 37Q7 37 7 37ZM24.5 33.6V30.6H35.5V33.6ZM15 33.4 12.9 31.3 18.05 26.1 12.85 20.9 15 18.8 22.3 26.1Z"/></svg>');
    --md-admonition-icon--dice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M20.04 317.3c-2.04 0-4.04-1.5-4.04-4V150.5c0-2.351 1.91-4.012 4.001-4.012.688 0 1.396.18 2.062.575l76.62 45.1-75.28 122.3c-.813 2.337-2.093 2.837-3.363 2.837zm211.36 87.9L23.2 383.14c-4.27-.482-7.123-4.117-7.123-7.995 0-1.401.373-2.834 1.185-4.161L122.7 215.1l108.7 190.1zM31.1 420.1c0-2.039 1.508-4.068 3.93-4.068.165 0 .335.01.509.03l203.6 22.31v65.66C239.1 508.6 236.2 512 232 512a7.914 7.914 0 0 1-3.363-.756L34.25 423.6c-1.56-.8-3.15-2.2-3.15-3.5zm2.84-303c-1.289-.764-1.938-2.088-1.938-3.417 0-1.281.602-2.567 1.813-3.364l150.8-98.59c.485-.749 2.685-1.089 3.985-1.089 4.32 0 8.003 3.721 8.003 8.022 0 1.379-.379 2.818-1.237 4.214L115.5 165.8l-81.56-48.7zm112.86 58L242.39 6.7C245.5 2.53 250.7 0 255.1 0s10.5 2.53 13.62 7.624l95.59 168.4H146.8zm209.6 32L256 382.8 155.6 207.1h200.8zm119.7 208c2.422 0 3.93 2.029 3.93 4.068 0 1.378-.69 2.761-2.252 3.524l-194.4 87.66a7.966 7.966 0 0 1-3.35.744c-4.2 0-7.994-3.37-7.994-7.994v-65.69l203.6-22.28c.066.868.266-.032.466-.032zm18.7-44.2c.8 1.4 1.2 2.8 1.2 4.2 0 3.872-2.841 7.499-7.128 7.98l-208.2 22.06 108.6-190.1L494.8 370.9zM316.6 22.87c-.858-1.395-1.237-2.834-1.237-4.214 0-4.301 3.683-8.022 8.003-8.022 1.308 0 2.675.341 4.015 1.11l150.8 98.59a3.984 3.984 0 0 1 1.813 3.353 3.977 3.977 0 0 1-1.938 3.429L396.5 165.8 316.6 22.87zM491.1 146.5c2.091 0 4.001 1.661 4.001 4.012v162.8c0 2.483-2.016 4.006-4.053 4.006-1.27 0-2.549-.592-3.353-1.912l-75.28-122.3 76.62-45.1c1.565-1.306 2.265-1.506 2.065-1.506z"/></svg>');
    --md-admonition-icon--pen: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M492.7 42.75c25 24.99 25 65.55 0 90.55l-56.4 56.4-114-113.98 56.4-56.4c25-24.998 65.6-24.998 90.6 0l23.4 23.43zM44.89 353.2 299.7 98.34l114 113.96-254.9 254.8c-6.7 6.7-15 11.6-24.2 14.3L30.59 511.1c-8.38 2.4-17.4 0-23.56-7-6.163-5.3-8.5-14.3-6.106-22.7l29.726-104c2.61-9.2 7.51-17.5 14.24-24.2zM249.4 103.4l-146 146L16 161.9c-18.745-18.7-18.745-49.1 0-67.84L94.06 16C112.8-2.745 143.2-2.745 161.9 16l19.8 19.76c-.3.29-.7.6-1 .93l-64 64.01c-6.3 6.2-6.3 16.4 0 22.6 6.2 6.3 16.4 6.3 22.6 0l64-63.99c.3-.32-.2-.66.9-1.01l45.2 45.1zm204.3 204.4c-.3.2-.7.6-1 .9l-64 64c-6.3 6.2-6.3 16.4 0 22.6 6.2 6.3 16.4 6.3 22.6 0l64-64c.3-1.2-.2-.7.9-1l19.8 19.8c18.7 18.7 18.7 49.1 0 67.8L417.9 496c-18.7 18.7-49.1 18.7-67.8 0l-87.5-87.4 146-146 45.1 45.2z"/></svg>');
    
    /*--md-admonition-icon--name:url('data:image/svg+xml;charset=utf-8,'); */
}



.comments {
    display: none;
}

#left {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: normal;
}

#u {
    text-align: center;
    display: block;
}

.md-typeset .admonition.grid {
    box-shadow: none;
}

.md-typeset .admonition.grid p:not(.admonition-title) {
    display: grid;
}

.md-typeset .admonition.grid img {
    display: table-cell;
    vertical-align: middle;
    grid-row: 2 / 4;
}
