@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neucha&family=Special+Elite&display=swap');


[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #a89191;
  --md-accent-fg-color: #b5aeae;
  --md-default-bg-color: #2e261f;
  --h2-color: hsla(32, 48%, 85%, 1);
  --h1-color: hsl(34, 76%, 94%);
  --md-default-fg-color: hsla(34, 39%, 74%, 1);
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #765151;
  --md-accent-fg-color: #5e4343;
  --md-default-bg-color: #f8f5f1;
  --md-default-fg-color: hsla(31, 45%, 24%, 1);
  --h2-color: #b89578;
  --h1-color: #432e14;
}

.md-header,
.md-nav--primary .md-nav__title {
  background: var(--md-primary-fg-color)
    url(https://images.unsplash.com/photo-1520157646479-22f25713523d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80)
    left center/cover no-repeat;
}

.md-tabs {
  background-color: #00000094;
}

.md-nav__link[href*="tags"],
.md-sidebar__inner
  > .md-nav.md-nav--primary.md-nav--lifted
  > .md-nav__title
  > .md-nav__button.md-logo
  > img,
.dataview,
.folderv,
.md-tabs__item:nth-child(2) {
  display: none;
}

.md-nav--primary .md-nav__title[for="__drawer"] {
  font-size: xxx-large;
}

div {
  scrollbar-width: none;
}


.md-typeset .headerlink {
  display: inline;
}

[dir=ltr] .md-typeset .headerlink {
  font-size: 0.8em;
  margin-left: 0.1em;
}

h2 {
  color: var(--h2-color);
}

.md-typeset h1 {
  color: var(--h1-color) !important;
}

.md-nav__link, .md-tabs__link {
  font-family: "Annie Use Your Telescope", serif;
  font-size: .9rem;
}