.comments {
	display: none;
}

#left {
	display: inline-block;
	width: 100%;
	text-align: right;
	font-weight: normal;
}

#u {
	text-align: center;
	display: block;
}

#tags {
	background-color: rgba(142, 137, 137, 0.38);
	border-radius: 5px;
}

.hash::before {
	content: "#";
}

[data-md-color-scheme="default"] .hash {
	color: #5f5f60;
	border-radius: 5px;
	background-color: #bfbcbca2;
	padding-left: 5px;
	padding-right: 5px;
}

[data-md-color-scheme="slate"] .hash {
	color: #e2e2e29a;
	border-radius: 5px;
	background-color: #6b6b6b1d;
	padding-left: 5px;
	padding-right: 5px;
}

.rside-10 img[alt*="+rside"] {
	width: 10em;
}

.hr-title hr {
	position: relative;
	top: -1em;
	border-bottom: 1px solid var(--md-default-fg-color--light);
}

.special-elite h1 {
	font-family: "Special Elite", cursive;
}

img.vignette {
	float: left;
	width: auto;
}

@media (max-width: 768px) {
	img.vignette {
		float: left;
		width: 6em; /* Réduit la taille de l'image */
	}
}

@media (max-width: 480px) {
	img.vignette {
		float: none;
		display: block;
		margin: 0 auto;
		width: auto; /* S'ajuste pour tenir sur de très petits écrans */
	}
}

.md-typeset h1 {
	margin-bottom: 0.5em !important;
}

.custom-font,
.Neucha h1,
.Neucha h2,
.Neucha h3,
.Neucha h4,
.Neucha h5,
.Neucha h6 {
	font-family: "Neucha", var(--md-text-font), sans-serif !important;
}

.Special-Elite h1,
.Special-Elite h2,
.Special-Elite h3,
.Special-Elite h4,
.Special-Elite h5,
.Special-Elite h6 {
	font-family: "Special Elite", var(--md-text-font), sans-serif !important;
}

.hr-title :not(.admonition.wiki) > h1 {
	border-bottom: 2px solid var(--h1-color);
	width: 90%;
}

.hr-title :not(.admonition.wiki) > h2 {
	border-bottom: 2px dashed var(--h2-color);
	width: 90%;
}

.tbl .md-content table:not(.admonition table) td {
	border-top: none !important;
	border-bottom: none;
}

.tbl .md-content table:not(.admonition table) td:last-child {
	border-left: .05rem solid var(--md-typeset-table-color) !important;
}

.tbl .md-content table:not(.admonition table) thead tr th {
	text-align: center !important;
	border-bottom: .05rem solid var(--md-typeset-table-color) !important;
}

.tbl .md-content table:not(.admonition table) thead tr th:last-child {
	border-left: .05rem solid var(--md-typeset-table-color) !important;
}
