@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neucha&family=Special+Elite&display=swap');


.md-header,
.md-nav--primary .md-nav__title {
    background: var(--md-primary-fg-color) url(https://images.unsplash.com/photo-1520157646479-22f25713523d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) center top / cover no-repeat;
}

@media screen and (max-width: 76.2344em) {
    .md-nav--primary .md-nav__title {
        background: var(--md-primary-fg-color) url(https://images.unsplash.com/photo-1520157646479-22f25713523d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    }

    .md-nav--primary .md-nav__title {
        color: white;
    }
}

.md-tabs {
    background-color: #00000094;
}

.md-nav__link[href*="tags"],
.md-sidebar__inner
> .md-nav.md-nav--primary.md-nav--lifted
> .md-nav__title
> .md-nav__button.md-logo
> img,
.dataview,
.folderv,
.md-tabs__item:nth-child(2) {
    display: none;
}

.md-nav--primary .md-nav__title[for="__drawer"] {
    font-size: large;
}

div {
    scrollbar-width: none;
}


.md-typeset .headerlink {
    display: inline;
}

[dir=ltr] .md-typeset .headerlink {
    font-size: 0.8em;
    margin-left: 0.1em;
}

.md-nav--primary .md-nav__title,
.md-nav__link, .md-tabs__link {
    font-family: "Annie Use Your Telescope", serif;
    font-size: .9rem;
}