name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "README.md"
      - "overrides/**"
      - "docs/**"
      - "mkdocs.yml"
      - "uv.lock"
  repository_dispatch:
    types: [build]
  workflow_call:
    secrets:
      GH_PAT:
        required: true
        description: "GitHub Personal Access Token"

permissions:
  contents: write
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
          fetch-depth: 0
          submodules: "recursive"
      - name: "Submodule commit"
        continue-on-error: true
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GH_PAT || secrets.GITHUB_TOKEN}}
          author_email: ${{ 'github-actions[bot]@users.noreply.github.com' }}
          author_name: ${{ 'github-actions[bot]' }}
          branch: ${{github.ref }}
  deploy:
    runs-on: ubuntu-latest
    needs: fetch
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
          fetch-depth: 0
          submodules: "recursive"
      - name: Fetch submodule
        run: |
          git submodule update --init --recursive --checkout -f --remote -- "docs"
      - name: Install dependencies
        run: |
          sudo apt-get install pngquant
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: "requirements**.txt"
      - name: Setup Python
        run: uv python install
      - name: Install dependencies
        run: |
          uv venv
          uv sync --no-dev
      - name: Build
        run: |
          uv run mkdocs gh-deploy --force
